@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base text-primary antialiased;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

/* Base link hover effect */
.link-hover {
  position: relative;
  display: inline-block;
}

.link-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
